.especificacoes {
    display: flex;
    flex-direction: column;
    margin-top: 4em;
    width: 100%;
}

.titulo {
    color: rgb(32, 28, 43);
    background-color: rgb(27, 204, 248);
    padding: 0.5em;
    text-align: center;
}

.especificacoes-conteudo {
    display: flex;
    flex-direction: row;
    margin: 1.5em;
}

.img-not {
    display: none;
}

.especificacoes-conteudo img {
    width: 10%;

}

.infos-notebook {
    display: flex;
    align-items: center;
    margin: 1em 0;
    gap: 20px;
}

.infos-notebook img {
    width: 1.7em;
}

@media (min-width: 700px) {

    .especificacoes-infos ul {
        display: flex;
        gap: 60px;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 90vw;
    }
}


@media (min-width: 500px) {

    .especificacoes-infos ul {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 90vw;
    }
}