/* ticket --------------------*/

.informacoes {
    margin: 2.4em;
    text-align: center;
}

.infos-titulo {
    font-size: 1em;
    margin-bottom: 1em;
}

.ticket {
    margin-top: 2em;
    display: flex;
    border: solid 1px white;
    border-radius: 10px;
    padding: 1em;
    width: 100%;
}

.ticket-conteudo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    padding-right: 2em;
    align-items: center;
    justify-content: center;
}

.ticket-conteudo p {
    font-size: 0.7em;
}

.ticket-segundo {
    display: flex;
    flex-direction: column;
    padding: 0.4em;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 1em;
}


.ticket-butao-participe {
    text-decoration: none;
    background-color: #08A0D0;
    border-radius: 5px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0.3em;
    color: white;
    font-weight: bold;
    transition: 0.5s;
}

.back-desktop-new {
    display: none;
}

.ticket-logo-img {
    width: 80%;
}

.not {
    display: none;
}

@media (max-width: 350px) {
    .ticket-butao-participe {
        font-size: 0.75em;
        padding: 0.32em;
    }

}

@media (min-width: 500px) {
    .ticket-conteudo {
        flex-direction: row;
        gap: 10px;
    }

    .ticket-segundo {
        flex-direction: row;
    }

    .ticket-logo-img {
        width: 30%;
    }

    .ticket-butao-participe {
        font-size: 0.75em;
        padding: 1em 1.4em;
    }


    .ticket-conteudo p {
        font-size: 1em;
    }

    .img-not {
        display: block;
        width: 100%;
    }




}

@media (min-width: 1000px) {
    .ticket-butao-participe {
        font-size: 0.75em;
        padding: 1em 2em;
    }

    .not {
        width: 25%;
        display: block;
    }

    .ticket-logo-img {
        display: none;
    }

    .infos-titulo {
        font-size: 1.4em;
    }

    .line {
        display: none;
    }

    .ticket-conteudo {
        flex-direction: row;
        gap: 10px;
        padding: 0 3em;
    }

    .ticket-segundo {
        gap: 20px;
    }

    .back-desktop-new {
        display: block;
        width: 30%;
    }

}